body {
  margin: 0 auto;
}

i {
  cursor: pointer;
}

/* Sidebar */

#sidebar {
  grid-area: sidebar;
  background-color: darkslateblue;

  padding: 1em;

  color: #d8d8d8;
}

#sidebar input {
  color: black;
}

div[id*="show-title"] {
  cursor: pointer;
}

/* CSS Tricks Pretty hr */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



#movies-container {
  padding: 1em;
  color: #3c3c3c;
  grid-area: movies-container;
}

.show-container {
  padding-bottom: 50px;
}

.movie-title {
  font-size: 130%;
  font-weight: bold;
}

.info-container {

  padding-left: 2em;
  padding-right: 2em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex div {
  flex-shrink: 1;
  max-width: 500px;
}

/* Media Queries */

@media (max-width: 720px) {
  #grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    grid-template-areas: "sidebar"
                         "movies-container";
  }

  #sidebar input {
    width: calc(100% - 2em);
    font-size: 120%;
  }

  #sidebar hr {
    display: none;
  }

  div[id*="show-title"] {
    display: none;
  }
}

@media (min-width: 721px) {
  #grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    grid-template-areas: "sidebar movies-container";
  }

  #sidebar input {
    width: 20em;
  }
}